/* poppins-and-Righteous-font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  padding: 0px;
  margin: 0px;
  outline: 0px;
  list-style-type: none;
}
/* font-family */
body {
  font-family: "Poppins", sans-serif;
}
/* header-section */
header {
  background-color: #491cfe;
  padding: 0px 100px;
  color: #FFFFFF;
}
nav a,
svg {
  padding: 0px 30px;
  font-size: 20px;
}
.nav-item-active {
  padding: 5px 15px;
  color: #491cfe;
  background-color: #FFFFFF;
  border-radius: 5px;
}
nav {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: flex-end;
}
.nav-logo div {
  display: none;
}
.logo {
  height: 50px;
}
.header-image {
  position: absolute;
  right: 0px;
  height: 75vh;
  top: 25vh;
}
.header-text {
  padding: 130px 0px;
}
.header-text img:first-child {
  width: 60px;
  height: 10px;
}
.header-text h2 {
  font-size: 45px;
}
.header-text p {
  font-size: 20px;
}
.header-text h2,
p {
  padding-top: 10px;
}
/* companies-section */
.companies a {
  text-decoration: none;
  font-size: 25px;
  font-family: Righteous;
  font-weight: bold;
  color: #000000;
  padding-right: 60px;
}
.companies {
  padding: 20px 100px;
  background-color: #f5f5f5;
}
/* api-section */
.api {
  padding: 100px;
  background-color: #f5f5f5;
}
.api .cards {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.round img {
  height: 50px;
}
.card,
.card-active {
  background-color: #FFFFFF;
  padding: 30px 20px;
  margin: 0px 10px;
  border-radius: 15px;
}
.card-logo {
  height: 50px;
}
.cards h3 {
  font-size: 20px;
  padding-top: 10px;
}
.cards p {
  font-size: 15px;
}
.card-active {
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}
.round {
  display: flex;
  align-items: center;
}
.api h1 {
  font-size: 40px;
}
/* blog-section */
.blog-heading {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
}
.blog-heading h1 {
  font-size: 40px;
}
.blog-heading p {
  font-size: 20px;
  color: #491cfe;
  font-weight: bold;
}
.blog-heading,
.blog-cards {
  background-color: #f5f5f5;
}
.blog-cards {
  display: flex;
  padding: 20px 100px;
  padding-bottom: 100px;
  justify-content: space-between;
}
.blog-card {
  display: flex;
  background-color: #FFFFFF;
  height: 350px;
  margin: 0px 15px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}
.blog-image img {
  height: 350px;
}
.blog-card-bottom-image {
  height: 50px;
}
.author-details {
  display: flex;
  align-items: flex-start;
  width: 180px;
  justify-content: space-between;
  padding-top: 85px;
}
.blog-text {
  padding: 30px;
}
.blog-content h6 {
  color: #491cfe;
  font-size: 13px;
}
.blog-content h3 {
  font-size: 23px;
}
.blog-content small {
  font-size: 15px;
}
.blog-content h3 {
  padding-top: 10px;
}
.blog-content p {
  padding-top: 10px;
}
/* faq-section */
.faq-section {
  display: flex;
  padding: 40px 100px;
  position: relative;
  background-color: #e9edff;
}
.faq-image img {
  position: absolute;
  height: 325px;
  top: 0px;
  right: 0px;
}
.faq-content h2 {
  font-size: 30px;
}
.faq-content h4:nth-child(2) {
  font-size: 17px;
  font-weight: 500;
}
.faq-content h4:nth-child(3) {
  font-size: 20px;
}
.faq-content button {
  background-color: #491cfe;
  color: #FFFFFF;
  font-size: 17px;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
}
.faq-content h4:nth-child(2) {
  padding-top: 5px;
}
.faq-content h4:nth-child(3) {
  padding-top: 10px;
}
.faq-content button {
  margin-top: 10px;
}
/* download-section */
.download-section {
  display: flex;
  padding: 100px;
  align-items: center;
  justify-content: space-between;
}
.download-content h1 {
  font-size: 40px;
}
.download-content span {
  font-weight: 500;
}
input {
  background-color: #e9edff;
  border-radius: 45px;
  border: none;
  width: 300px;
  padding: 20px 40px;
  padding-right: 300px;
  color: #000000;
  font-size: 17px;
}
.download-email form {
  position: relative;
}
input::placeholder {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  opacity: 0.5;
}
form button {
  background-color: #491cfe;
  color: #FFFFFF;
  border-radius: 30px;
  border: none;
  padding: 14px 50px;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
/* footer-section */
.footer-section {
  display: flex;
  padding: 70px 100px;
  background-color: #491cfe;
  justify-content: space-between;
  align-items: center;
}
.footer-left img {
  height: 50px;
}
.footer-left .list {
  display: flex;
  color: #FFFFFF;
  font-size: 20px;
  padding-top: 10px;
  column-gap: 30px;
  align-items: center;
}
.logos-list {
  display: flex;
  font-size: 20px;
  color: #FFFFFF;
  column-gap: 30px;
  align-items: center;
  padding-top: 18px;
}
.footer-r {
  column-gap: 53px;
  display: flex;
  align-items: center;
}
.footer-logos {
  height: 50px;
}
.text::after {
  content: "";
  border-right: 2px solid #FFFFFF;
  padding-right: 20px;
}
/* hover-effect */
nav a:hover {
  font-weight: bold;
  cursor: pointer;
}
.nav-item-active:hover {
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 300;
}
.companies a:hover {
  text-decoration: underline;
}
.card:hover {
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}
.blog-heading p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.faq-content button:hover {
  background-color: transparent;
  border: 2px solid #491cfe;
  color: #491cfe;
  cursor: pointer;
  font-weight: bold;
}
.download-email button:hover {
  background-color: transparent;
  border: 2px solid #491cfe;
  color: #491cfe;
  cursor: pointer;
}
.list-items:hover {
  font-weight: bold;
  cursor: pointer;
}
